body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
}

.password-container {
    width: 100%;
    max-width: 700px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.password-container h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}


.password-input:focus {
    border-color: #007bff;
}

.password-strength.poor {
    color: #e74c3c;
}

.password-strength.good {
    color: #f39c12;
}

.password-strength.verygood {
    color: #f1c40f;
}

.password-strength.excellent {
    color: #2ecc71;
}

.password-input {
    width: 90%;
    max-width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 15px;
}

.password-strength {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}